.container {
  --duration: 1s;
  --stagger: 0.5s;
  --interval: calc(var(--duration) - var(--stagger));
}

.ball {
  margin: 1rem 0;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: orange;
  animation: moveLeftRight var(--duration) calc(var(--interval) * var(--i))
    infinite;
  animation-timing-function: ease-out;
}
