.ui-form {
  --duration: 0.3s;
  --delay: var(--duration);
  --delay-button: calc(var(--delay) * 2);

  // and shake animation on top of the all the slide-ups
  --total-duration: calc(var(--duration) * 2 + var(--delay-button));

  animation-name: slide-up, shake;
  animation-duration: var(--duration);
  animation-timing-function: ease-in;
  animation-delay: 0s, var(--total-duration);

  .ui-input,
  .ui-button {
    animation-name: slide-up;
    animation-duration: var(--duration);
    animation-timing-function: inherit;
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
  }

  .ui-button {
    animation-delay: var(--delay-button);
  }

  .ui-button-wrapper {
    animation: slide-left var(--duration) var(--delay-button) forwards;
  }
}
